{% extends 'base.html.twig' %}

{% block title %}Reset hasła{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="h3 mb-3">Reset hasła</h1>
                    <p>Wprowadź nowe hasło poniżej.</p>

                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword.first) }}
                        {{ form_row(resetForm.plainPassword.second) }}

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">
                                Zmień hasło
                            </button>
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
