{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Panel Administracyjny</h1>
        <p>Witaj w panelu administracyjnym.</p>
    </div>
{% endblock %}
